
.icon{
  vertical-align:middle
}

.mr-16{
  margin-right: 16px;
}

.mb-29{
  margin-bottom: 29px;
}
.mb-42{
  margin:40px 0px;
}
.mt-360{
  margin-top: 162px;
}
.menu{
  background-color: #F8F9FA;
  max-width: 300px;
}
.fs-16{
  font: normal normal bold 16px/24px Lato;
  color: #212529;
}

.imguser{
  height: 50px;
  width: 50px;
  border-radius: 51%;

}

.small{
  font: normal normal normal 14px/24px Lato;
  color: #6C757D;
}

.text-darkd{
  color: #212529;
}

