
.mw-1320{
  max-width: 1320px;
}
.mw-24{
  max-width: 24%;
}
.mw-76{
 max-width: 76%;
}
.container {
  // max-width: 800px;
  margin: 0 auto;
}
.ptd-3{
  padding-top:2px;
}
.ptd-32{
  padding-top:35px;
}
.ptd-63{
  padding-top:63px;
}

.mr-25{
  margin-right: 25px;
}
.mr-42{
  margin-right: 44px;
}
.mb-48{
  margin-bottom: 48px;
}
/*  FONT  */
.fs-12 {
  font-size: 12px;
}
.fs-24 {
  font-size: 24px;
}


/* DISPLAY */
.d-flex {
  display: flex;
}
.items-center {
  align-items: center;
}

/* MARGIN */
.mr-9 {
  margin-right: 9px;
}
.mr-24 {
  margin-right: 27px;
}
.mr-12 {
  margin-right: 48px;
}
/* ICON */
.material-icons {
  color: green;
}


